<h1>Artists</h1>


  <div class="row">
    <% @artists.each do |artist| %>
      <div class="col-md-4 layout"><p><%= link_to artist.name, artist_path(artist.id) %></p>
      <%= image_tag artist.image_url, :size => "260x180" %></div>
    <% end %>
  </div>

<br>
<hr>

<div>
  <%= link_to "Add new Artist", new_artist_path, class: "btn btn-primary" %>
</div>
