<h1>Albums</h1>


  <div class="row">
    <% @albums.each do |album| %>
      <div class="col-md-3 layout"><p><%= link_to album.album_name, album_path(album.id) %></p>
      <%= image_tag album.album_image_url, :size => "150x150" %></div>
    <% end %>
  </div>
<br>
<hr>

<div>
  <%= link_to "Add new Album", new_album_path, class: "btn btn-primary" %>
</div>
