@import "bootstrap-sprockets";
@import "bootstrap";


// shadow for navbar
.navbar-custom {
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
       -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

// style for navbar
$bgDefault      : #d32f2f;
$bgHighlight    : #c0392b;
$colDefault     : #ffffff;
$colHighlight   : #dddcdc;
$dropDown       : true;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            > .divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .item {
    height: 300px;
  }
}

// make sure divider doesn't go into dropdown when on smaller screens
@media (min-width: 768px){
  .divider-vertical {
  height: 30px;
  margin: 10px 9px;
  border-left: 1px solid #F2F2F2;
  border-right: 1px solid #FFF;
 }
}

// icon style for logo
.glyphicon-cd {
  margin-top: 7px;
  margin-left: -13px;
  color: #fff;
}

.layout {
  margin-bottom: 20px;
}

// Footer

#footer {
  height: 60px;
  background-color:#414141;
  margin-top:50px;
  padding-top:20px;
  padding-bottom:20px;
}

#footer a {
  color:#efefef;
}
